numpy==2.1
pandas[excel]>=2.2.3
pyAgrum>=1.17.2
quimb>=1.9.0
networkx>=3.4.2
pydot>=3.0.3
pyyed>=1.5.0
scipy>=1.14.1
neomodel>=5.4.1
nicegui>=2.8.1
capellambse>=0.6.10
plotly>=5.24.1
licensecheck>=2024.3
hatch>=1.13.0
optuna>=4.2
more_itertools>=10.5.0