numpy==2.1
pandas[excel]>=2.2.3
pyagrum>=2.2.1
quimb>=1.11.2
networkx>=3.5
pydot>=4.0.1
pyyed>=1.5.0
scipy>=1.16.2
neomodel>=5.5.3
nicegui>=3.0.3
capellambse==0.6.20
plotly>=5.24.1
licensecheck>=2024.3
hatch>=1.14.2
optuna>=4.5
more_itertools>=10.8.0